<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Consolas:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<header>
    <nav class="nav-1">
        <div class="logo-section">
           <a href="{%url 'base_view'%}"><div class="logo"><i class="fas fa-code"></i>byteCub</div></a> 
        </div>
        <div class="search">
            <div class="form">
            <form  method="get" action="{% url 'search_results' %}">
            <input  type="search" id="search" class="search-field"  placeholder="{{query}}" name="query"  >
            <span class="icon "><button id="icon" type="submit" style="cursor: pointer;  ">
                <div class="fas fa-search actual-icon" ></div>
            </span ></button>
            </form>
            </div>
            <div class="search-2"><i class="fas fa-search"></i></div>
        </div>
        <div class="accounts-section">
            <div class="cart">
                <a href="{%url 'exerciseApp:user_reviews'%}">
                    <div class="fas fa-book cart-color"></div>
                    <!-- <span class="cart-count"></span> -->
                </a>
            </div>
            <!-- <div class="heart">
                <div class="fas fa-heart cart-color">H</div>
                
            </div> -->
            <div class="sec accounts open" id="sec"><i class="fas fa-user"></i></div>
            <!-- <div class="menu-icon" id="menu-icon"><i class="settings fa fa-bars"></i></div> -->
            <div class="settings-display"> 
                <div class="close-filter">bro</div>
                <div>broddddddd</div>
                <div>bro</div>
                <button class="close-settings">Close</button>
            </div>
        </div>

    </nav>
    <div class="account-items" id="account-items" >
        <ul>
        
            {%if user.is_authenticated%}
            <a href="{%url 'logout'%}"><li>Logout</li></a>
            <a href="{%url 'register'%}"><li>Create account</li></a>
            {%if points is not None%}
            <a href="{%url 'leader_board'%}" ><li>Your Rank: {{rank}} | {{points}}pts <small style=" color: black;">more<i class="fas fa-chevron-down" style="font-size: smaller;"></i></small></li></a>
            {%endif%}
           {%else%}
           <a href="{%url 'login'%}"><li>Login</li></a>
           <a href="{%url 'register'%}"><li>Create account</li></a>
            {%endif%}
        </ul>
    </div>
    <div class="nav-2 ">
        <div class="menu-icon" id="menu-icon" style="line-height: 30px; margin-left: 10px; font-size: larger;"><i class="settings fa fa-bars"></i></div>
       <a href="{%url 'page1_view'%}"><div  class="course-title">HTML</div> </a>
       <a href="{%url 'intro_to_css'%}"><div  class="course-title">CSS</div> </a>
       <a href="#"><div class="course-title">Bootstrap</div></a>
       <a href="{%url 'js_page1'%}"><div class="course-title">javaScript</div></a> 
       <a href="{%url 'py_page1'%}"><div style="border-bottom: 2px solid skyblue;" class="course-title">Python</div></a> 
       <a href="#"><div class="course-title">HTMX</div></a>  
    </div> 


   
    <div class="search-bar">
        <form method="get" action="/search/">
            <i class="search-back fa fa-arrow-left"></i>
            <input  type="search" placeholder="Search byteCub" name="query">
            <span ><button type="submit"><i class="fas fa-search"></i></button></span>
        </form>
    </div>

</header>
