


{% extends 'admin_reviews/base3.html' %}

{% block content %}
<main class="container">
    <div class="card">
        <div class="card-header">
            <h2>Available Exercises</h2>
        </div>
        <div class="card-body">
            <ul class="exercise-list">
                {% for exercise in exercises %}
                <li class="exercise-item">
                    <a href="{%url 'exerciseApp:exercise_submissions' exercise%}" class="exercise-link">
                        <span>{{ exercise }}</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
{% endblock %}


