<div class="sub-left-container">
    <h3 style="margin-top: -20px;">HTML For Beginners</h3>
    <ul>
        <a href="{%url 'page1_view'%}"><li class="chapter-pointer-1">Intro to HTML</li></a>
        <!-- <a href="{%url 'page2_view'%}"><li class="chapter-pointer-2">CREATING A WEBPAGE ON A PC</li></a> -->
        <a href="{%url 'page3_view'%}"><li class="chapter-pointer-3">Tags</li></a>
        <a href="{%url 'page4_view'%}"><li class="chapter-pointer-4">HTML Headings</li></a>
        <a href="{%url 'page5_view'%}"><li class="chapter-pointer-5">HTML paragraphs</li></a>
        <a href="{%url 'page5b_view'%}"><li class="chapter-pointer-5b">Important Markups</li></a>
        <a href="{%url 'HTMLIntro_ex1'%}"><li class="HTML-exercise-1-pointer">Exercise One</li></a>
        <a href="{%url 'page6_view'%}"><li class="chapter-pointer-6">HTML Lists</li></a>
        <a href="{%url 'HTMLIntro_ex2'%}"><li class="HTML-exercise-2-pointer">Exercise Two</li></a>
        <a href="{%url 'page6b_view'%}"><li class="chapter-pointer-6b">HTML Tables</li></a>
        <a href="{%url 'HTMLIntro_ex3'%}"><li class="HTML-exercise-3-pointer">Exercise Three</li></a>
        <a href="{%url 'page7_view'%}"><li class="chapter-pointer-7">Links and File Paths in HTML</li></a>
        <a href="{%url 'page7b_view'%}"><li class="chapter-pointer-7b">HTML Images, Videos, and Audios</li></a>
        <a href="{%url 'HTMLIntro_ex4'%}"><li class="HTML-exercise-4-pointer">Exercise Four</li></a>
        <a href="{%url 'page8_view'%}"><li class="chapter-pointer-8">HTML Forms</li></a>
        <a href="{%url 'HTMLIntro_ex5'%}"><li class="HTML-exercise-5-pointer">Exercise Five</li></a>
    </ul>
</div>