<div class="sub-left-container">
    <h3 style="margin-top: -20px;">Content</h3>
    <ul>
        <a href="{%url 'js_page1'%}"><li class="chapter-pointer-1">Introduction</li></a>
        <a href="{%url 'js_page2'%}"><li class="chapter-pointer-2">Variables</li></a>
        <a href="{%url 'js_page3'%}"><li class="chapter-pointer-3">Data Types: Number</li></a>
        <a href="{%url 'js_page4'%}"><li class="chapter-pointer-4">Data Types: Strings</li></a>
        <a href="{%url 'js_page5'%}"><li class="chapter-pointer-5">Data Types: Boolean</li></a>
        <a href="{%url 'js_page6'%}"><li class="chapter-pointer-6">Conditional Statements: if</li></a>
        <a href="{%url 'js_page7'%}"><li class="chapter-pointer-7">Conditional Statements: else</li></a>
        <a href="{%url 'js_page8'%}"><li class="chapter-pointer-8">Conditional Statements: else if</li></a>
        <a href="{%url 'js_page9'%}"><li class="chapter-pointer-9">Conditional Statements: Logical Operators</li></a>
        <a href="{%url 'js_page10'%}"><li class="chapter-pointer-10">Nested if Statements</li></a>
        <a href="{%url 'js_page11'%}"><li class="chapter-pointer-11">Switch Statements</li></a>
        <a href="{%url 'js_page12'%}"><li class="chapter-pointer-12">While Loops</li></a>
        <a href="{%url 'js_page13'%}"><li class="chapter-pointer-13">Do-While Loops</li></a>
        <a href="{%url 'js_page14'%}"><li class="chapter-pointer-14">For Loops</li></a>
        <a href="{%url 'js_page15'%}"><li class="chapter-pointer-15">Arrays</li></a>
        <a href="{%url 'js_page16'%}"><li class="chapter-pointer-16">Array Methods and Loops</li></a>
        <a href="{%url 'js_page17'%}"><li class="chapter-pointer-17">Two Dimensional Arrays</li></a>
        <a href="{%url 'js_page18'%}"><li class="chapter-pointer-18">Looping Through Two Dimensional Arrays</li></a>
        <a href="{%url 'js_page19'%}"><li class="chapter-pointer-19">Functions</li></a>
        <a href="{%url 'js_page20'%}"><li class="chapter-pointer-20">Anonymous & Arrow Functions</li></a>
        <a href="{%url 'js_page21'%}"><li class="chapter-pointer-21">Objects</li></a>
        <a href="{%url 'js_page22'%}"><li class="chapter-pointer-22">Final Lesson</li></a>
    </ul>
</div>