<div class="sub-left-container">
    <h3 style="margin-top: -20px;">CSS For Beginners</h3>
    <ul>
        <a href="{%url 'intro_to_css'%}"><li class="chapter-pointer">Intro to CSS</li></a>
        <a href="{%url 'css_1'%}"><li class="chapter-pointer-1">Adding CSS To a Webpage</li></a>
        <a href="{%url 'css_2'%}"><li class="chapter-pointer-2"> CSS Selectors</li></a>
        <a href="{%url 'css_3'%}"><li class="chapter-pointer-3">Text Styling</li></a>
        <a href="{%url 'css_ex1'%}"><li class="chapter-pointer-ex1">Exercise One</li></a>
        <a href="{%url 'css_4'%}"><li class="chapter-pointer-4">CSS Box Model</li></a>
        <a href="{%url 'css_ex2'%}"><li class="chapter-pointer-ex2">Exercise Two</li></a>
        <a href="{%url 'css_5'%}"><li class="chapter-pointer-5">Styling Lists</li></a>
        <a href="{%url 'css_6'%}"><li class="chapter-pointer-6">Table Styling</li></a>
        <a href="{%url 'css_7'%}"><li class="chapter-pointer-7">Styling Images</li></a>
        <a href="{%url 'css_ex3'%}"><li class="chapter-pointer-ex3">Exercise Three</li></a>

    </ul>
</div>