{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Header: Three</title>
    <link rel="stylesheet" type="text/css" href="{%static 'assets/CSS/IntroToHTML/index.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/CSS/IntroToHTML/header.css'%}">
    <link rel="stylesheet" href="{%static 'assets/CSS/tabs/tabs.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .chapter-pointer-5{
	        border: 2px solid skyblue;
        }

        /* result styling */
        .header-div{
            font-family: Arial;
            background-color: #fff;
            padding: 20px 0;
            border-bottom: 1px solid gray;
        }
        .main-nav a{
            text-decoration: underline;
        }
        
    </style>
</head>
{%include 'all/snippets/header_snippet.html'%}
<body>
    <main>
    <div class="main-container">
        <div class="left-container">
            {%include 'snippets/left-container_snippet.html'%} 
        </div>
        <div class="mid-container">
           <h1>Style It Your Way</h1>

            <div class="button-container">
                <a href="{%url 'blog_pg4'%}"><button class="prev">Prev</button></a>
                <a href="{%url 'blog_pg6'%}"><button class="next">Next</button></a>
            </div>

            <div class="notes">
                <p>In your <span class="emphasis">style.css</span> file, add the following lines of code.</p>
            </div>
           <h2 style="text-align: center; color: skyblue; margin-top: 50px;">style.css</h2>
           <div class="code-view">
            {% for snippet in code_1 %}
   
                <div class="code-container">
                    <button class="copy-button" onclick="copyToClipboard()">Copy</button>
                    <pre class="code-editor-content">
                        
                        <style>
                            {{ snippet.get_highlighted_code.css | safe }}
                        </style>
                        {{ snippet.get_highlighted_code.html | safe }}
                        
                    </pre>
                    
                </div>
            
            {% endfor %}
        </div>

        <h2>Key Points</h2>
        <div class="notes">
            <p>Many HTML elements, such as headings, paragraphs, and lists, come with default padding and margin. By adding <span class="emphasis">padding: 0;</span> and <span class="emphasis">margin: 0;</span> you ensure that elements do not have unwanted spacing, allowing for a more controlled layout.</p>
            <p>Similarly, some elements may have default borders [like buttons or input fields]. Setting <span class="emphasis">border: none;</span> removes default borders, giving you freedom to style them as you wish.</p>
            <p>The <span class="emphasis">box-sizing: border-box;</span> property changes the box model calculation. With this setting, the width and height of elements include padding and borders, making it easier to size elements without having to account for additional padding or borders.</p>
        </div>

        <h2 style="text-align: center; color: skyblue; margin-top: 50px;">style.css</h2>
        <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'Tab1')">Code Snippet</button>
        <button class="tablinks" onclick="openTab(event, 'Tab2')">Full Code</button>
        <!-- <button class="tablinks" onclick="openTab(event, 'Tab3')">Tab 3</button> -->
        </div>

        <div id="Tab1" class="tabcontent" style="display: block;">
        <div class="code-view">
                    {% for snippet in code_2a %}
        
                        <div class="code-container">
                            <button class="copy-button" onclick="copyToClipboard()">Copy</button>
                            <pre class="code-editor-content">
                                
                                <style>
                                    {{ snippet.get_highlighted_code.css | safe }}
                                </style>
                                {{ snippet.get_highlighted_code.html | safe }}
                                
                            </pre>
                            
                        </div>
                    
                    {% endfor %}
                </div>
        </div>

        <div id="Tab2" class="tabcontent">
        <div class="code-view">
                    {% for snippet in code_2 %}
        
                        <div class="code-container">
                            <button class="copy-button" onclick="copyToClipboard()">Copy</button>
                            <pre class="code-editor-content">
                                
                                <style>
                                    {{ snippet.get_highlighted_code.css | safe }}
                                </style>
                                {{ snippet.get_highlighted_code.html | safe }}
                                
                            </pre>
                            
                        </div>
                    
                    {% endfor %}
                </div>
        </div>

        <!-- <div id="Tab3" class="tabcontent">
        <h3>Tab 3 Content</h3>
        <p>This is the content of Tab 3.</p>
        </div> -->

        <h2 style="text-align: center; color: skyblue; margin-top: 50px;">Result</h2>
        <div class="result">
            <div class="header-div">
                <div class="header-container">
                    <div class="logo-2">Fashion Farward</div>
                    <nav class="main-nav">
                        <ul style="list-style-position: inside;">
                            <li><a href="#">Trends</a></li>
                            <li><a href="#">Designers</a></li>
                            <li><a href="#">Outfits</a></li>
                            <li><a href="#">Beauty</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
          
        <div class="notes">
            <p><span class="emphasis">padding: 20px 0;</span> sets a padding of <strong>20px</strong> to the top and bottom of the header and a padding of <strong>0</strong> [no padding] to the left and right.</p>
            <p><span class="emphasis">border: 1px solid gray;</span> draws a gray line of <strong>1px</strong> thickness beneath the header.</p>
        </div>

            <div class="button-container" style="margin-top: 50px; margin-bottom: 100px;">
                <a href="{%url 'blog_pg4'%}"><button class="prev">Prev</button></a>
                <a href="{%url 'blog_pg6'%}"><button class="next">Next</button></a>
            </div>
        </div>
        
        
    </div>
    <script src="{%static 'assets/js/tabs/tabs.js'%}"></script>
  <footer>
    {%include 'footer.html'%}
</footer>
<script type="text/javascript" src="{%static 'assets/js/main/scripts.js'%}"></script>
</main>
</body>
</html>