{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styling The Child Elements</title>
    <link rel="stylesheet" type="text/css" href="{%static 'assets/CSS/IntroToHTML/index.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/CSS/IntroToHTML/header.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/CSS/blog_ttrial/header.css'%}">
    <link rel="stylesheet" href="{%static 'assets/CSS/tabs/tabs.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .chapter-pointer-30{
	        border: 2px solid skyblue;
        }

        /* result styling */
        .result{
            padding: 0;
        }
        /* result styling */
        .menu{
            background: none;
            border: none;
            font-size: 25px;
            color: #333;
            cursor: pointer; /*cursor arrow changes to a pointer whenever it moves above the button*/
        }
       .result h1{
        margin: 0;
       }
       .main{
        padding: 6px;
       }
       .items-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
       }

       .result .trend-item img{
        width: 100%;
        height: 200px;
        object-fit: cover;

       }
       .trend-item h3 {
            margin: 15px;
            font-size: 1.3em;
            color: #333;
        }
        .trend-item.edit p {
            margin: 0 15px 15px;
            color: #666;
            line-height: 1.5;
        }

        .trend-item .trend-link.edit {
            display: block;
            background-color: #2980b9;
            color: #fff;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            transition: background-color 0.3s;
        }
  
  .trend-item .trend-link.edit:hover {
            background-color: #3498db;
        }

        
        
    </style>
</head>
{%include 'all/snippets/header_snippet.html'%}
<body>
    <main>
    <div class="main-container">
        <div class="left-container">
            {%include 'snippets/trends-left-container_snippet.html'%} 
        </div>
        <div class="mid-container">
           <h1>Styling The Child Elements</h1>
            <div class="button-container">
                <a href="{%url 'blog_pg29'%}"><button class="prev">Prev</button></a>
                <a href="{%url 'blog_pg31'%}"><button class="next">Next</button></a>
            </div>
            <h2>Styling The Heading</h2>

           <h2 style="text-align: center; color: skyblue; margin-top: 50px;">trends.css</h2>
            <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'Tab1')">Code Snippet</button>
        <button class="tablinks" onclick="openTab(event, 'Tab2')">Full Code</button>
        <!-- <button class="tablinks" onclick="openTab(event, 'Tab3')">Tab 3</button> -->
        </div>

        <div id="Tab1" class="tabcontent" style="display: block;">
        <div class="code-view">
                    {% for snippet in code_1a %}
        
                        <div class="code-container">
                            <button class="copy-button" onclick="copyToClipboard()">Copy</button>
                            <pre class="code-editor-content">
                                
                                <style>
                                    {{ snippet.get_highlighted_code.css | safe }}
                                </style>
                                {{ snippet.get_highlighted_code.html | safe }}
                                
                            </pre>
                            
                        </div>
                    
                    {% endfor %}
                </div>
        </div>

        <div id="Tab2" class="tabcontent">
        <div class="code-view">
                    {% for snippet in code_1 %}
        
                        <div class="code-container">
                            <button class="copy-button" onclick="copyToClipboard()">Copy</button>
                            <pre class="code-editor-content">
                                
                                <style>
                                    {{ snippet.get_highlighted_code.css | safe }}
                                </style>
                                {{ snippet.get_highlighted_code.html | safe }}
                                
                            </pre>
                            
                        </div>
                    
                    {% endfor %}
                </div>
        </div>

        <!-- <div id="Tab3" class="tabcontent">
        <h3>Tab 3 Content</h3>
        <p>This is the content of Tab 3.</p>
        </div> -->

        <h2 style="text-align: center; color: skyblue; margin-top: 50px;">Result</h2>
        <div class="result">
        
            <div class="header-div">
                <div style="display: flex; justify-content: space-between; align-items: center;" class="header-container">
                    <div class="logo-2" >Fashion Farward</div>
                    <nav class="main-nav nav-style">
                        <button class="menu" style="display: none;">Menu</button>
                        <ul style="list-style-position: inside; list-style: none; display: flex;">
                            <li><a href="#">Trends</a></li>
                            <li><a href="#">Designers</a></li>
                            <li><a href="#">Outfits</a></li>
                            <li><a href="#">Beauty</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        
            <div class="main edit">
                <section class="trending-now" style="border: 4px solid black;">
                    <h1 style="text-align: left;">Trending Now</h1> 
                    <div class="items-container" style="border: 2px solid orange;">
            
                        <!-- children containers -->
                        <article class="trend-item" >
                            <img width="400px" height="auto-fit" src="{%static 'assets/images/Front End Dev/pexels-matvalina-17360767.jpg'%}" alt="Image of a Trending Now Item">
                            <h3>Oversized Blazers</h3>
                            <p style="padding: 0;">Effortless and chic, oversized blazers are dominating the runways and streets.</p>
                            <a href="#" class="trend-link">Read More <i class="fa fa-arrow-right"></i></a>
                        </article>
                        <article class="trend-item" style="border: 2px solid skyblue; height: 100px;">child 2</article>
                        <article class="trend-item" style="border: 2px solid skyblue; height: 100px;">child 3</article>
                        <article class="trend-item" style="border: 2px solid skyblue; height: 100px;">child 4</article>
                    </div>
                </section>
            </div>
        </div>

        <h2>Styling The Description Element</h2>

        <h2 style="text-align: center; color: skyblue; margin-top: 50px;">trends.css</h2>
        <div class="taba">
        <button class="tablinksa activea" onclick="openTaba(event, 'Tab1a')">Code Snippet</button>
        <button class="tablinksa" onclick="openTaba(event, 'Tab2a')">Full Code</button>
        <!-- <button class="tablinks" onclick="openTab(event, 'Tab3')">Tab 3</button> -->
        </div>

        <div id="Tab1a" class="tabcontenta" style="display: block;">
        <div class="code-view">
                    {% for snippet in code_2a %}
        
                        <div class="code-container">
                            <button class="copy-button" onclick="copyToClipboard()">Copy</button>
                            <pre class="code-editor-content">
                                
                                <style>
                                    {{ snippet.get_highlighted_code.css | safe }}
                                </style>
                                {{ snippet.get_highlighted_code.html | safe }}
                                
                            </pre>
                            
                        </div>
                    
                    {% endfor %}
                </div>
        </div>

        <div id="Tab2a" class="tabcontenta">
        <div class="code-view">
                    {% for snippet in code_2 %}
        
                        <div class="code-container">
                            <button class="copy-button" onclick="copyToClipboard()">Copy</button>
                            <pre class="code-editor-content">
                                
                                <style>
                                    {{ snippet.get_highlighted_code.css | safe }}
                                </style>
                                {{ snippet.get_highlighted_code.html | safe }}
                                
                            </pre>
                            
                        </div>
                    
                    {% endfor %}
                </div>
        </div>

        <!-- <div id="Tab3" class="tabcontent">
        <h3>Tab 3 Content</h3>
        <p>This is the content of Tab 3.</p>
        </div> -->

     <h2 style="text-align: center; color: skyblue; margin-top: 50px;">Result</h2>
      <div class="result">
        
            <div class="header-div">
                <div style="display: flex; justify-content: space-between; align-items: center;" class="header-container">
                    <div class="logo-2" >Fashion Farward</div>
                    <nav class="main-nav nav-style">
                        <button class="menu" style="display: none;">Menu</button>
                        <ul style="list-style-position: inside; list-style: none; display: flex;">
                            <li><a href="#">Trends</a></li>
                            <li><a href="#">Designers</a></li>
                            <li><a href="#">Outfits</a></li>
                            <li><a href="#">Beauty</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        
            <div class="main">
                <section class="trending-now" style="border: 4px solid black;">
                    <h1 style="text-align: left;">Trending Now</h1> 
                    <div class="items-container" style="border: 2px solid orange;">
            
                        <!-- children containers -->
                        <article class="trend-item edit" >
                            <img width="400px" height="auto-fit" src="{%static 'assets/images/Front End Dev/pexels-matvalina-17360767.jpg'%}" alt="Image of a Trending Now Item">
                            <h3>Oversized Blazers</h3>
                            <p style="padding: 0;">Effortless and chic, oversized blazers are dominating the runways and streets.</p>
                            <a href="#" class="trend-link">Read More <i class="fa fa-arrow-right"></i></a>
                        </article>
                        <article class="trend-item" style="border: 2px solid skyblue; height: 100px;">child 2</article>
                        <article class="trend-item" style="border: 2px solid skyblue; height: 100px;">child 3</article>
                        <article class="trend-item" style="border: 2px solid skyblue; height: 100px;">child 4</article>
                    </div>
                </section>
            </div>
        </div>

        <h2>Styling The Link</h2>

        <h2 style="text-align: center; color: skyblue; margin-top: 50px;">trends.css</h2>
       <div class="tabb">
        <button class="tablinksb activeb" onclick="openTabb(event, 'Tab1b')">Code Snippet</button>
        <button class="tablinksb" onclick="openTabb(event, 'Tab2b')">Full Code</button>
        <!-- <button class="tablinks" onclick="openTab(event, 'Tab3')">Tab 3</button> -->
        </div>

        <div id="Tab1b" class="tabcontentb" style="display: block;">
        <div class="code-view">
                    {% for snippet in code_3a %}
        
                        <div class="code-container">
                            <button class="copy-button" onclick="copyToClipboard()">Copy</button>
                            <pre class="code-editor-content">
                                
                                <style>
                                    {{ snippet.get_highlighted_code.css | safe }}
                                </style>
                                {{ snippet.get_highlighted_code.html | safe }}
                                
                            </pre>
                            
                        </div>
                    
                    {% endfor %}
                </div>
        </div>

        <div id="Tab2b" class="tabcontentb">
        <div class="code-view">
                    {% for snippet in code_3 %}
        
                        <div class="code-container">
                            <button class="copy-button" onclick="copyToClipboard()">Copy</button>
                            <pre class="code-editor-content">
                                
                                <style>
                                    {{ snippet.get_highlighted_code.css | safe }}
                                </style>
                                {{ snippet.get_highlighted_code.html | safe }}
                                
                            </pre>
                            
                        </div>
                    
                    {% endfor %}
                </div>
        </div>

        <!-- <div id="Tab3" class="tabcontent">
        <h3>Tab 3 Content</h3>
        <p>This is the content of Tab 3.</p>
        </div> -->
           

     <h2 style="text-align: center; color: skyblue; margin-top: 50px;">Result</h2>
      <div class="result">
        
            <div class="header-div">
                <div style="display: flex; justify-content: space-between; align-items: center;" class="header-container">
                    <div class="logo-2" >Fashion Farward</div>
                    <nav class="main-nav nav-style">
                        <button class="menu" style="display: none;">Menu</button>
                        <ul style="list-style-position: inside; list-style: none; display: flex;">
                            <li><a href="#">Trends</a></li>
                            <li><a href="#">Designers</a></li>
                            <li><a href="#">Outfits</a></li>
                            <li><a href="#">Beauty</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        
            <div class="main">
                <section class="trending-now" style="border: 4px solid black;">
                    <h1 style="text-align: left;">Trending Now</h1> 
                    <div class="items-container" style="border: 2px solid orange;">
            
                        <!-- children containers -->
                        <article class="trend-item edit" >
                            <img width="400px" height="auto-fit" src="{%static 'assets/images/Front End Dev/pexels-matvalina-17360767.jpg'%}" alt="Image of a Trending Now Item">
                            <h3>Oversized Blazers</h3>
                            <p style="padding: 0;">Effortless and chic, oversized blazers are dominating the runways and streets.</p>
                            <a href="#" class="trend-link edit">Read More <i class="fa fa-arrow-right"></i></a>
                        </article>
                        <article class="trend-item" style="border: 2px solid skyblue; height: 100px;">child 2</article>
                        <article class="trend-item" style="border: 2px solid skyblue; height: 100px;">child 3</article>
                        <article class="trend-item" style="border: 2px solid skyblue; height: 100px;">child 4</article>
                    </div>
                </section>
            </div>
        </div>

        <div class="notes">
            <p><span class="emphasis">transition: background-color 0.3s;</span> controls how the background-color of the link changes over time when hovered upon.</p>
            <p><span class="emphasis">0.3s</span> means that the transition will take <strong>0.3 seconds</strong> [300 milliseconds] to complete.</p> 
        </div>


        
            <div class="button-container" style="margin-top: 50px; margin-bottom: 100px;">
                <a href="{%url 'blog_pg29'%}"><button class="prev">Prev</button></a>
                <a href="{%url 'blog_pg31'%}"><button class="next">Next</button></a>
            </div>
        </div>
        
        
    </div>
    <script src="{%static 'assets/js/tabs/tabs.js'%}"></script>
  <footer>
    {%include 'footer.html'%}
</footer>
<script type="text/javascript" src="{%static 'assets/js/main/scripts.js'%}"></script>
</main>
</body>
</html>