{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Change password</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/CSS/accounts/change_password.css'%}">
</head>
<body>
	<main>
    <small style="color: grey;  ">
      {% if messages %}
       {%for message in messages%}
          {{message}}
       {%endfor%}
      {%endif%}
  </small>
		<form>{%csrf_token%}
		<div class="main-container">
			
				<div class="form-container">
					<h1>Change password</h1>
					<div class="old-password">
						<i class="fa fa-lock"></i>
						<input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">

					</div>
					<div class="new-password">
						<i class="fa fa-lock"></i>
						<input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
					</div>
					<div class="confirm-password">
						<i class="fa fa-lock"></i>
						<input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
					</div>
					{% for field in form %}
			        {% for error in field.errors %}
			          <p style="color: red">{{ error }}</p>
			        {% endfor %}
			      {% endfor %}
					<button type="submit">Reset</button>
				</div>
			 
		</div>
	</form>
	</main>
</body>
</html>