*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
main{
	margin-top: 50px;
}
.main-container{
	margin: 0 30%;
}
.form-container{
	/*width: 400px;
	margin: auto;*/
	width: 100%;
}
h1{
	text-align: center;
	margin-bottom: 20px;
}
.form-container i{
	width: 4%;
	padding-right: 3px;
}
.password,
.name{
	border-bottom: 1px solid gray;
	margin-bottom: 30px;
}
.password:hover,
.name:hover{
	border-bottom: 2px solid #1b9bff;
}
.password input,
.name input{
	width: 94%;
	outline: none;
	border: none;
	
}
.form-container a{
	color: #1b9bff;
	font-weight: bold;
}
.form-container button{
	width: 100%;
	margin-top: 20px;
	padding: 5px 0;
	font-weight: bold;
	color: white;
	background: #1b9bff;
	border: none;
	cursor: pointer;
}
@media(max-width:500px){
	.main-container{
		margin: 0 10%;

	}
}