<div class="sub-left-container">
    <h3 style="margin-top: -20px;">Content</h3>
    <ul>
        <a href="{%url 'py_page1'%}"><li class="chapter-pointer-1">Introduction</li></a>
        <a href="{%url 'py_page2'%}"><li class="chapter-pointer-2">Variables</li></a>
        <a href="{%url 'py_page3'%}"><li class="chapter-pointer-3">Data Types</li></a>
        <a href="{%url 'py_page4'%}"><li class="chapter-pointer-4">Strings</li></a>
        <a href="{%url 'py_page5'%}"><li class="chapter-pointer-5">String Formatting</li></a>
        <a href="{%url 'py_page6'%}"><li class="chapter-pointer-6">Lists</li></a>
        <a href="{%url 'py_page7'%}"><li class="chapter-pointer-7">Accessing List Items</li></a>
        <a href="{%url 'py_page8'%}"><li class="chapter-pointer-8">Modifying Lists</li></a>
        <a href="{%url 'py_page9'%}"><li class="chapter-pointer-9">Looping Through Lists in Python</li></a>
        <a href="{%url 'py_page9b'%}"><li class="chapter-pointer-9b">Tuples</li></a>
        <a href="{%url 'py_page10'%}"><li class="chapter-pointer-10">If Statements in Python</li></a>
        <a href="{%url 'py_page11'%}"><li class="chapter-pointer-11">Nested If Statements</li></a>
        <a href="{%url 'py_page12'%}"><li class="chapter-pointer-12">While Loops</li></a>
        <a href="{%url 'py_page13'%}"><li class="chapter-pointer-13">Python Inputs</li></a>
        <a href="{%url 'py_page14'%}"><li class="chapter-pointer-14">Functions in Python</li></a>
        <a href="{%url 'py_page14b'%}"><li class="chapter-pointer-14b">Python Dictionaries</li></a>
        <a href="{%url 'py_page14c'%}"><li class="chapter-pointer-14c">Looping Through a Dictionary</li></a>
        <a href="{%url 'py_page14d'%}"><li class="chapter-pointer-14d">Dictionary Methods</li></a>
        <a href="{%url 'py_page15'%}"><li class="chapter-pointer-15">Modules in Python</li></a>
        <a href="{%url 'py_page16'%}"><li class="chapter-pointer-16">Classes in Python</li></a>
    </ul>
</div>