{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise One</title>
    <link rel="stylesheet" type="text/css" href="{%static 'assets/CSS/IntroToHTML/index.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/CSS/IntroToHTML/header.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .HTML-exercise-1-pointer{
	        border: 2px solid skyblue;
        }
    </style>
</head>
{%include 'all/snippets/header_snippet.html'%}
<body>
    <main>
    <div class="main-container">
        <div class="left-container">
            {%include 'introToHTML_app/snippets/left-container_snippet.html'%}
        </div>
        <div class="mid-container">
            <h1 style="text-align: center; margin-bottom: 15px;">Exercise One</h1>

            <div class="button-container">
                <a href="{%url 'page5b_view'%}"><button class="prev">Prev</button></a>
                <a href="{%url 'page6_view'%}"><button class="next">Next</button></a>
            </div>

           <div class="notes">
            <p style="text-align: center;">Write the HTML code of the article shown below [name it <span class="emphasis">baking.html</span>].</p>
           </div>
           <div class="result">
            <h1 style="margin-top: -5px;">The Art of Cake Baking</h1>
            <p style="line-height: 1.3;"><strong>Cake baking</strong> is a delightful blend of science and creativity. Start with basic ingredients: flour, sugar, eggs, and butter.
                Mix them in the right proportions, and add your favorite flavors, and bake at the correct temperature.
            </p>
           </div>
           <button class="run">Try it Yourself</button>

            <!-- Whatsapp community button -->
            <section id="whatsapp-community">
                <div class="whatsapp">
                    <p>Encountering difficulties? Our Whatsapp community is a collaborative space for sharing and assistance.</p>
                </div>

                <div class="whatsapp-button-floating">
                    <a href="https://chat.whatsapp.com/EleIRPRKMN73Ly1GkHnjGV?mode=ems_copy_t" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                        <span>Chat</span>
                    </a>
                </div>
            </section>

           <div class="button-container">
            <a href="{%url 'page5b_view'%}"><button class="prev">Prev</button></a>
            <a href="{%url 'page6_view'%}"><button class="next">Next</button></a>
        </div>
        </div>
        
        
    </div>
</main>
<footer>
    {%include 'footer.html'%}
</footer>
<script type="text/javascript" src="{%static 'assets/js/main/scripts.js'%}"></script>
</body>
</html>