{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATING A WEBPAGE ON A PC</title>
    <link rel="stylesheet" type="text/css" href="{%static 'assets/CSS/IntroToHTML/index.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/CSS/IntroToHTML/header.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        
        .mid-container h1,h2{
            text-align: center;
            margin-bottom: 20px;
        }
        .numbering{
            display: block;
            margin: auto;
            font-size: x-large;
            padding: 10px;
            border-radius: 5px;
            background-color: skyblue;  
            margin-top: 60px;
            border: none;
        }
        .sub-container{
            display: flex;
            gap: 4%;
            margin-top: 20px;
            border-top: 1px solid gray;
        }
        .left{
            width: 48%;
            margin-top: 10px;
        }
        .right{
            width: 48%;
            margin-top: 10px;
        }
        .right img{
            height: 300px;
            width: auto;
        }
        .takenote{
            margin-top: 20px;
            border: 2px solid skyblue;
            padding: 5px;
        }
        ol li{
            margin-bottom: 5px;
        }
        @media(max-width:720px){
            .sub-container{
                display: block;
                
            }
            .left{
            width: 100%;
            margin-top: 10px;
        }
        .right{
            width: 100%;
            margin-top: 10px;
        }
        }
        .chapter-pointer-2{
	        border: 2px solid skyblue;
        }
    </style>
</head>
{%include 'all/snippets/header_snippet.html'%}
<body>
    <main>
    <div class="main-container">
        <div class="left-container">
            {%include 'introToHTML_app/snippets/left-container_snippet.html'%}        </div>
        <div class="mid-container">
            <h1>CREATING A WEBPAGE ON A PC</h1>

            <div class="button-container">
                <a href="{%url 'page1_view'%}"><button class="prev">Prev</button></a>
                <a href="{%url 'page3_view'%}"><button class="next">Next</button></a>
            </div>

            <h2>1.1 Using NotePad/NotePad++</h2>
            <button class="numbering">1</button>
            <div class="sub-container">
                <div class="left">
                    <p>Go to <strong>start</strong>, type <strong>Notepad</strong> or <strong>Notepad++</strong> then click <strong>open</strong></p>
                </div>
                <div class="right">
                    <img src="{%static 'assets/images/IntroToHTML/notepad1.png'%}" alt="">
                </div>
            </div>

            <button class="numbering">2</button>
            <div class="sub-container">
                <div class="left">
                    <p>Copy the code on the right in <strong>Notepad</strong> or <strong>Notepad++</strong></p>
                </div>
                <div class="right">
                    <img src="{%static 'assets/images/IntroToHTML/notepad2.png'%}" alt="">
                </div>
            </div>

            <button class="numbering">3</button>
            <div class="sub-container">
                <div class="left">
                    <p>After copying the code, press <strong>Ctrl</strong> + <strong>S</strong> and choose a location to store the file.</p>
                    <p>After choosing a location, name the file as it suits you. In the case of this tutorial, it was named <strong>example.html</strong></p>
                    <p>After having named the file, click <strong>save</strong> to Save it.</p>
                    <div class="takenote">
                        <p><strong>Note:</strong></p>
                        <p>Adding <span class="emphasis"><strong>.html</strong></span> to every html file name is mandatory as it tells the computer that it is an html file.</p>
                    </div>
                </div>
                <div class="right">
                    <img src="{%static 'assets/images/IntroToHTML/notepad3.png'%}" alt="">
                </div>
            </div>

            <button class="numbering">4</button>
            <div class="sub-container">
                <div class="left">
                    <p>Go to the directory where you saved the file[<span class="emphasis"><strong>example.html</strong></span>], right click on it and open with a browser of your choice.</p>
                </div>
                <div class="right">
                    <img src="{%static 'assets/images/IntroToHTML/notepad4.png'%}" alt="">
                </div>
            </div>
            <button class="numbering">5</button>
            <div class="sub-container">
                <div class="left">
                    <p>Congratulations, you just created your first webpage.</p>
                </div>
                <div class="right">
                    <img src="{%static 'assets/images/IntroToHTML/notepad5.png'%}" alt="">
                </div>
            </div>


            <h2 style="margin-top: 50px;">1.2 Using Sublime Text</h2>
            <h3>Why use Sublime Text?</h3>
            <ol style="margin-left: 35px; margin-top: 15px; letter-spacing: 1px;">
                <li>Sublime text provides a better graphics quality than Notepad and Notepad++ making it more user-friendly.</li>
                <li>Provides syntax highlighting.</li>
                <li>Has code correction features making coding faster.</li>
                <li>Moreover, it is lighter than other code editors out there, easy to use and free, making it just the best tool for begginers.</li>
            </ol>
            <p>Click the download button below to download Sublime Text or download from thier <a href="#">official website.</a></p>
            <a style="text-decoration: none; " href="download/sublime_text_build_4152_x64_setup.exe" download="sublimetext"><button class="start" style="cursor: pointer;">Download</button></a>

            <button class="numbering">1</button>
            <div class="sub-container">
                <div class="left">
                    <p>After installing Sublime Text on your PC, open it as seen on the right.</p>
                </div>
                <div class="right">
                    <img src="{%static 'assets/images/IntroToHTML/sublime1.png'%}" alt="">
                </div>
            </div>

            <button class="numbering">2</button>
            <div class="sub-container">
                <div class="left">
                    <p>Press <strong>Ctrl</strong> + <strong>N</strong> and copy the code on your right into your code editor.</p>
                </div>
                <div class="right">
                    <img src="{%static 'assets/images/IntroToHTML/sublime2.png'%}" alt="">
                </div>
            </div>

            <button class="numbering">3</button>
            <div class="sub-container">
                <div class="left">
                    <p>After copying the code, press <strong>Ctrl</strong> + <strong>S</strong> and choose a location to save the file.</p>
                    <p>After choosing a location, name the file as it suits you. In the case of this tutorial, it was named <strong>example.html</strong></p>
                    <p>After having named the file, click <strong>save</strong> to Save the file.</p>
                    <div class="takenote">
                        <p><strong>Note:</strong></p>
                        <p>Adding <span class="emphasis"><strong>.html</strong></span> to every html file name is mandatory as it tells the computer that it is an html file.</p>
                    </div>
                </div>
                <div class="right">
                    <img src="{%static 'assets/images/IntroToHTML/sublime3.png'%}" alt="">
                </div>
            </div>

            <button class="numbering">4</button>
            <div class="sub-container">
                <div class="left">
                    <p>Go to the directory where you saved the file[<span class="emphasis"><strong>example.html</strong></span>], right click on it and open with a browser of your choice.</p>
                </div>
                <div class="right">
                    <img src="{%static 'assets/images/IntroToHTML/sublime4.png'%}" alt="">
                </div>
            </div>

            <button class="numbering">5</button>
            <div class="sub-container">
                <div class="left">
                    <p>Congratulations, you just created your first webpage.</p>
                </div>
                <div class="right">
                    <img src="{%static 'assets/images/IntroToHTML/sublime5.png'%}" alt="">
                </div>
            </div>

            <div class="button-container" style="margin-top: 40px; margin-bottom: 20px;">
                <a href="{%url 'page1_view'%}"><button class="prev">Prev</button></a>
                <a href="{%url 'page3_view'%}"><button class="next">Next</button></a>
            </div>

        </div>
        
        
    </div>
</main>
<footer>
    {%include 'footer.html'%}
</footer>
<script type="text/javascript" src="{%static 'assets/js/main/scripts.js'%}"></script>
</body>
</html>