{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Statements: Nested if Statements</title>
    <link rel="stylesheet" type="text/css" href="{%static 'assets/CSS/IntroToHTML/index.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'assets/CSS/IntroToHTML/header.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .chapter-pointer-10{
	        border: 2px solid skyblue;
        }
        .js-shots{
            width: 50%;
        }
        @media(max-width: 760px){
            .js-shots{
                width: 100%;
            }
            
            
        }
        .code-container::-webkit-scrollbar{
            /* overflow: hidden; */
            display: none;
        }
        pre.code-editor-content{
            overflow-y: hidden;
            margin-bottom: -60px;
            overflow-x: scroll;
        }
        .code-editor-content{
            margin-top: -160px;
            padding: 2px 0px;
        }
        @media(max-width:720px){
            pre.code-editor-content{
            width: 1500px;
            
            }
        }
    </style>
	
</head>
{%include 'all/snippets/header_snippet.html'%}
<body>
<main>
    <div class="main-container">
        <div class="left-container">
            {%include 'javaScript/snippets/left-container_snippet.html'%}
        </div>
        <div class="mid-container">
            <h1>Conditional Statements: Nested if Statements</h1>
             <div class="button-container">
                <a href="{%url 'js_page9'%}"><button class="prev">Prev</button></a>
                {%if has_answerd == True%}
                <a href="{%url 'js_page11'%}"><button class="next">Next</button></a>
                {%else%}
                <a href="{{BASE_URL}}/JSQ2/"><button class="next">Next</button></a>
                {%endif%}
            </div>
           

            <h2>Nested if Statements</h2>
            <div class="notes">
                <p>Nested if statements are if statements placed inside another if statement. This allows you to check multiple conditions in a hierarchical manner. You can use nested if statements when you need to evaluate a condition only if a previous condition is true.</p>
            </div>
            <h2 style="text-align: center; color: skyblue; margin-top: 50px;">Syntax</h2>
           <div class="code-view">
            {% for snippet in code_1 %}
   
                <div class="code-container">
                    <button class="copy-button" onclick="copyToClipboard()">Copy</button>
                    <pre class="code-editor-content">
                        
                        <style>
                            {{ snippet.get_highlighted_code.css | safe }}
                        </style>
                        {{ snippet.get_highlighted_code.html | safe }}
                        
                    </pre>
                    
                </div>
            
            {% endfor %}
        </div>




        <h2 style="text-align: center; color: skyblue; margin-top: 50px;">Example</h2>
           <div class="code-view">
            {% for snippet in code_2 %}
   
                <div class="code-container">
                    <button class="copy-button" onclick="copyToClipboard()">Copy</button>
                    <pre class="code-editor-content">
                        
                        <style>
                            {{ snippet.get_highlighted_code.css | safe }}
                        </style>
                        {{ snippet.get_highlighted_code.html | safe }}
                        
                    </pre>
                    
                </div>
            
            {% endfor %}
        </div>
  
        <h2 style="text-align: center; color: skyblue; margin-top: 50px;">Output</h2>

        <div class="code-view">
            <div class="sub-view">
                <div class="code-block">
                    <p><strong>&gt;</strong>You can drive.  &nbsp; <i class="fa fa-caret-right"></i> if the first and second conditions are true.</p>
                    <p><strong>&gt;</strong>You need a driver's license to drive.  &nbsp; <i class="fa fa-caret-right"></i> if the first condition is true but the second is not.</p>
                    <p><strong>&gt;</strong>You are not old enough to drive.  &nbsp; <i class="fa fa-caret-right"></i> if the first condition is false.</p>
                </div>
            </div>
        </div>

        <div class="notes">
            <p>In the above example:</p>
            <ul>
                <li>The first <strong>if</strong> checks if the user is 18 or older.</li>
                <li>If true, it then checks if the user has a driver's license.</li>
                <li>Depending on the answers, it provides appropriate messages.</li>
            </ul>
        </div>

        <h2>When to Use Nested if Statements</h2>
        <div class="notes">
            <p>Nested <span class="emphasis">if</span> statements are useful when:</p>
            <ul>
                <li>You have multiple layers of conditions to check.</li>
                <li>The second condition should only be evaluated if the first condition is true.</li>
            </ul>
            <p>However, be cautious with nesting too deeply, as it can make your code harder to read and maintain. In such cases, consider using logical operators or restructuring your code for clarity.</p>
        </div>


        <h2 style="text-align: center; color: skyblue; margin-top: 50px;">Exercise</h2>
        <div class="notes">
            <p>Write a program that asks the user for their age and whether they are a citizen. If the user is 18 or older and a citizen, log "You can vote." If they are not a citizen, log "You must be a citizen to vote." If they are under 18, log "You are not old enough to vote."</p>
  
        </div>

            <div class="button-container">
                <a href="{%url 'js_page9'%}"><button class="prev">Prev</button></a>
                {%if has_answerd == True%}
                <a href="{%url 'js_page11'%}"><button class="next">Next</button></a>
                {%else%}
                <a href="{{BASE_URL}}/JSQ2/"><button class="next">Next</button></a>
                {%endif%}
            </div>

        </div>
    </div>
</main>
<footer>
    {%include 'footer.html'%}
</footer>
<script type="text/javascript" src="{%static 'assets/js/main/scripts.js'%}"></script>
</body>
</html>