<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>byteCub</title>
	<link rel="stylesheet" type="text/css" href="CSS/index.css">
</head>
<body>
	<div class="main-container">
		<div class="left-container">1</div>
		<div class="mid-container">
			<span class="main-heading">This is the main heading</span>
			<div class="tips">
				<div class="tips_1">
					
					<p> <span>X Tip: </span> Lorem ipsum dolor sit amet, <em class="emphasis"> highlights</em> adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			</p>
				</div>
			</div>
			<div class="notes">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="code emphasis">&lt;<span class="doctype">!DOCTYPE</span> <span class="tag">html</span>&gt;</span> Quas asperiores nobis sit repellat nulla. Quasi labore ut aut tenetur, adipisci libero doloremque et. Natus sequi ad, qui voluptatibus totam enim.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum possimus asperiores perspiciatis? Animi sequi sunt nemo illo ratione, reiciendis, accusantium sint saepe perferendis pariatur neque nihil maiores vel ipsam id.
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates, quod at maiores, temporibus doloremque asperiores optio tempora, minima quis cumque culpa aliquid nihil non tempore reprehenderit esse ullam et quidem.
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis ab, voluptate necessitatibus reiciendis vel aut magni? Quam obcaecati iusto totam recusandae ducimus facilis deserunt neque hic officia. Perferendis, dolor ipsum.
				</p>
			</div>
			
			<div class="code-view">
				<div class="sub-view">
					<div class="code-block">
						&lt;<span class="doctype">!DOCTYPE</span> <span class="tag">html</span>&gt;<br>
						&lt;<span class="tag">html</span> <span class="attr">lang</span>="en"&gt;<br>
						&lt;<span class="tag">head</span>&gt;<br>
						&nbsp;	&lt;<span class="tag">meta</span> <span class="attr">charset</span>="UTF-8"&gt;<br>
						&nbsp;				&lt;<span class="tag">title</span>&gt;<span class="text">My HTML Page</span>&lt;<span class="tag">/title</span>&gt;<br>
						&lt;<span class="tag">/head</span>&gt;<br>
						&lt;<span class="tag">body</span>&gt;<br>
			
						&lt;<span class="tag">/body</span>&gt;<br>
						&lt;<span class="tag">/html</span>&gt;
						</div>
				</div>
			</div>
			<button class="run">Run code</button>
		</div>
		<div class="right-container">3</div>
	</div>
</body>
</html>