<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML paragraphs</title>
    <link rel="stylesheet" type="text/css" href="CSS/index.css">
</head>
<body>
    <div class="main-container">
        <div class="left-container"></div>
        <div class="mid-container">
           <h1>HTML Paragraphs</h1>
           <h2 style="margin-top: 20px;">5.1 Introduction to HTML Paragraphs</h2>
           <div class="notes">
            <p>HTML Paragraphs are fundamental building blocks for structuring text content on web pages. They are defined using the <span class="emphasis">&lt;p&gt;</span> tag. This tag helps to 
            seperate blocks of text, making it more readable and organised for users. An example of how a paragraph is declared can be seen below.</p>
           </div>
           <img style="height: 200px; display: block; margin: auto;" src="images/tags2.png" alt="">
           
           <h3 style="text-align: center; color: skyblue; margin-top: 50px;">Result</h3>
           <div class="result">
            <p>This is a Paragraph</p>
           </div>
           <button class="run">Try it Yourself</button>
           <div class="notes">
            <p><strong>Note:</strong></p>
            <p>They are line breaks between paragraphs. That is, each paragraph declaration starts on a new line.</p>
           </div>
           <h2 style="text-align: center; color: skyblue; margin-top: 50px;">Code example</h2>
                <hr>
                <h3 style="text-align: center; color: skyblue; margin-top: 50px;">Result</h3>
                <div class="result">
                    <p>This is the First Paragraph</p>
                    <p>This is the Second Paragraph</p>
                </div>
                <button class="run">Try it Yourself</button>
            <div class="button-container" style="margin-top: 50px; margin-bottom: 100px;">
                <button class="prev">Prev</button>
                <button class="next">Next</button>
            </div>
        </div>
        
        
    </div>
</body>
</html>