<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags</title>
    <link rel="stylesheet" type="text/css" href="CSS/index.css">
</head>
<body>
    <div class="main-container">
        <div class="left-container"></div>
        <div class="mid-container">
            <h1 style="text-align: center; margin-bottom: 15px;">Tags and Attributes</h1>
            <h2>1.1 What are HTML Tags?</h2>
            <div class="notes">
                <p><span class="emphasis">Tags</span> are used to markup the start of an HTML element. They are usually enclosed in angle brackets.
                Below is an example of a tag:</p>
            </div>
            <img class="image" src="images/tags2.png" alt="">
            <div class="notes">
                <p>The above <span class="emphasis">'p'</span> tag denotes a paragraph. Though they are quite a few exceptions, tags usually have an openning
                and a closing element as seen above. The closing tag is marked by a backward slash <span class="emphasis"><span class="tag">/</span></span>.</p>
            </div>
            <h2 style="margin-top: 10px;">1.2 What are HTML Attributes?</h2>
            <div class="notes">
                <p><span class="emphasis">Attributes</span> add additional information to a tag. They are usually placed in the opening tag on holds great 
                significance to the information wrapped in the tag.</p>
            </div>
            <img class="image" src="images/tags4.png" alt="">
           <p> <div class="notes">As seen above, attributes consist of an <span class="emphasis">Attribute Name</span> and an <span class="emphasis">Attribute Value</span>. </div>
                The attribute names tells the browser what type of attribute is being called and the attribute value specifies the property of that attribute to be implimented.
                The above <span class="emphasis">lang</span> attribute specifies the language used in the paragraph<span class="emphasis">['en' is the short for English].</span>
            </p>
            <div class="button-container">
                <button class="prev">Prev</button>
                <button class="next">Next</button>
            </div>
        </div>
        
        
    </div>
</body>
</html>