<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro to HTML</title>
    <link rel="stylesheet" type="text/css" href="CSS/index.css">
</head>
<body>
    <div class="main-container">
        <div class="left-container"></div>
        <div class="mid-container">
            <h1>Hello Cub! Welcome to the world of HTML:</h1>
            <h1>Your Journey Begins Here!</h1>
            <div class="notes">
                <p>Get ready to embark on an exciting adventure into the realm of web development with us. 
                    Let's dive into the vibrant universe of HTML<span class="emphasis">[HyperText Markup Language]</span>
                    - the foundational building block of all things web!
                </p>
        <h2>What is HTML?</h2>
        <div class="notes">
            <p>HTML is like the skeleton of a webpage. It gives structure to your content, allowing browsers to understand how to
                display text, images, links, and more. 
            </p>
        </div>
        <h2>The Structure of HTML</h2>
        <div class="notes">
            <p>Every HTML document is build upon a simple structure. Here's what the structure of an HTML page looks like:</p>
        </div>

        <div class="code-view">
            <div class="sub-view">
                <div class="code-block">
                    &lt;<span class="doctype">!DOCTYPE</span> <span class="tag">html</span>&gt;<br>
                    &lt;<span class="tag">html</span> <span class="attr">lang</span>="en"&gt;<br>
                    &lt;<span class="tag">head</span>&gt;<br>
                    &nbsp;	&lt;<span class="tag">meta</span> <span class="attr">charset</span>="UTF-8"&gt;<br>
                    &nbsp;				&lt;<span class="tag">title</span>&gt;<span class="text">My HTML Page</span>&lt;<span class="tag">/title</span>&gt;<br>
                    &lt;<span class="tag">/head</span>&gt;<br>
                    &lt;<span class="tag">body</span>&gt;<br>
        
                    &lt;<span class="tag">/body</span>&gt;<br>
                    &lt;<span class="tag">/html</span>&gt;
                    </div>
            </div>
        </div>

        <h3>Breaking it Down:</h3>

        <div class="notes">
            <p> &lt;<span class="tag">html</span>&gt;, &lt;<span class="tag">head</span>&gt;,&lt;<span class="tag">body</span>&gt;, and so on are
            all called <span class="emphasis">Tags</span>. Tags carry specific information within them, they are declared by <span class="code emphasis">&lt;<span class="tag">tag</span>&gt;
            </span>[openning tag] and<span class="code emphasis">&lt;<span class="tag">/tag</span>&gt;</span>[closing tag]. They act like containers and all tell the browser about the kind of information 
            that lies within them.For example, &lt;<span class="tag">p</span>&gt; This is a paragraph &lt;<span class="tag">/p</span>&gt; tells the browser that what is within the &lt;<span class="tag">p</span>&gt; 
            tag is a paragraph.
            </p> 
            <p><span class="code emphasis">&lt;<span class="doctype">!DOCTYPE</span> <span class="tag">html</span>&gt;</span>: This declaration tells
            the browser to expect an HTML5 document.</p>
            <p><span class="code emphasis">&lt;<span class="tag">html</span>&gt;</span>: The root element that wraps all your content.</p>
            <p><span class="code emphasis">&lt;<span class="tag">head</span>&gt;</span>: Contains meta-information about your document 
                <span class="emphasis">[like title, character set, and linked styles].</span></p>
            <p><span class="code emphasis">&lt;<span class="tag">body</span>&gt;</span>: This is where you place all your visible content.</p>
        </div>

        <h2>Why Learn HTML?</h2>
        <div class="notes">
            <p><span class="emphasis">Empower your creativity</span>: Build stunning websites from scratch!</p>
            <p><span class="emphasis">Foundation for your languages</span>: HTML is the first step towards mastering CSS, javaScript, and more!</p>
            <p><span class="emphasis">In-Demand Skill</span>: Web development skills are highly valued in today's job market.</p>
            <p>In this bootcamp, we're going to provide you everything you need to get heads-on with html including an interactive code editor.</p>
        </div>

        <button class="start">Get Started</button>

        </div>
    </div>
</body>
</html>