{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeaderBoard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="{% static 'assets/CSS/quiz/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <header>
        <h1>LeaderBoard</h1>
        <nav>
            {% if user.is_authenticated %}
                <span>Welcome, {{ user.username }}!</span>
                <a href="{% url 'logout' %}">Home</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <section class="score-section">
        <h2>Keep pushing, keep learning, and let your skills shine!</h2>
    </section>
    <br>

    <section class="leaderboard-section">
        <h3>Leaderboard</h3>
        <p>Your Rank: {{ rank }}</p>
        <ol>
            {% for entry in leaderboard %}
                <li><i class="fa fa-user" style=" padding:8px 10px; background-color: white; border-radius: 50%;"></i> {{ entry.user.username }} | {{ entry.total_score }}pts</li>
            {% endfor %}
        </ol>
    </section>
    </main>

    <footer>
        <p>&copy; 2025 byteCub</p>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
  const codeEditor = document.querySelector('.code-editor');

  if (codeEditor) {
    codeEditor.addEventListener('input', function() {
      // Implement code highlighting here using libraries like Prism.js or Highlight.js
      // For example:
      // Prism.highlightElement(codeEditor);
      // The specific code will depend on the chosen library

      //Preserves Code - just keeps the same code.
    });
  }
});
    </script>
</body>
</html>