<div class="sub-left-container">
    <h3 style="margin-top: -20px;">Fashion Blog</h3>
    <a href="{%url 'blog_pg1'%}"><h4 style="margin-left: -20px; margin-bottom: 10px;"> <i class="fa fa-caret-right"></i>The Header </h4></a>
    <a href="{%url 'blog_pg11'%}"><h4 style="margin-left: -20px; margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> Main </h4></a>
    <a href="#"><h4 style="margin-left: -20px;  margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> The Footer</h4></a>
    <a href="{%url 'blog_pg26'%}"><h4 style="margin-left: -20px;  margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> Exercise Two</h4></a>
    <a href="{%url 'blog_pg27'%}"><h4 style="margin-left: -20px; margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> Trends Page</h4></a>
    <a href="{%url 'blog_pg40'%}"><h4 style="margin-left: -20px;"> <i class="fa fa-caret-down"></i> Beauty Page</h4></a>

    <ul>
        <a href="{%url 'blog_pg40'%}"><li class="chapter-pointer-40">Overview</li></a>
        <a href="{%url 'blog_pg41'%}"><li class="chapter-pointer-41">Flex Children</li></a>
        <a href="{%url 'blog_pg42'%}"><li class="chapter-pointer-42">Hero Image</li></a>
        <a href="{%url 'blog_pg43'%}"><li class="chapter-pointer-43">Right Hero</li></a>
        <a href="{%url 'blog_pg44'%}"><li class="chapter-pointer-44">Styling The Right Hero Elements</li></a>
        <a href="{%url 'blog_pg45'%}"><li class="chapter-pointer-45">Featured Beauty Products Section</li></a>
        <a href="{%url 'blog_pg46'%}"><li class="chapter-pointer-46">Product Grid</li></a>
        <a href="{%url 'blog_pg47'%}"><li class="chapter-pointer-47">Styling 'product-item': One</li></a>
        <a href="{%url 'blog_pg48'%}"><li class="chapter-pointer-48">Styling 'product-item': Two</li></a>
        <a href="{%url 'blog_pg49'%}"><li class="chapter-pointer-49">Beauty Tips & Tutorials Section</li></a>
        <a href="{%url 'blog_pg50'%}"><li class="chapter-pointer-50">tip-grid</li></a>
        <a href="{%url 'blog_pg51'%}"><li class="chapter-pointer-51">CSS Hack</li></a>
        <a href="{%url 'blog_pg52'%}"><li class="chapter-pointer-52">Explore Beauty by Category Section</li></a>
        <a href="{%url 'blog_pg53'%}"><li class="chapter-pointer-53">Flex Category</li></a>
        <a href="{%url 'blog_pg54'%}"><li class="chapter-pointer-54">Styling Category Elements</li></a>
        <a href="{%url 'blog_pg55'%}"><li class="chapter-pointer-55">Subscribtion Section</li></a>
        <a href="{%url 'blog_pg56'%}"><li class="chapter-pointer-56"> Styling Subscribtion Elements</li></a>
        <a href="{%url 'blog_pg57'%}"><li class="chapter-pointer-57"> Styling the Form Fields</li></a>
        <a href="{%url 'blog_pg58'%}"><li class="chapter-pointer-58">A Responsive Layout</li></a>
    </ul>
    <a href="{%url 'blog_pg59'%}"><h4 style="margin-left: -20px;  margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> Final Exercise of Fashion Forward</h4></a>


</div>