<div class="sub-left-container">
    <h3 style="margin-top: -20px;">Fashion Blog</h3>
    <a href="{%url 'blog_pg1'%}"><h4 style="margin-left: -20px; margin-bottom: 10px;"> <i class="fa fa-caret-right"></i>The Header </h4></a>
    <a href="{%url 'blog_pg11'%}"><h4 style="margin-left: -20px; margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> Main </h4></a>
    <a href="#"><h4 style="margin-left: -20px;  margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> The Footer</h4></a>
    <a href="{%url 'blog_pg26'%}"><h4 style="margin-left: -20px;  margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> Exercise Two</h4></a>
    <a href="{%url 'blog_pg27'%}"><h4 style="margin-left: -20px; margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> Trends Page</h4></a>
    <a href="{%url 'blog_pg40'%}"><h4 style="margin-left: -20px; margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> Beauty Page</h4></a>
    <a href="{%url 'blog_pg59'%}"><h4 style="margin-left: -20px;  margin-bottom: 10px;"> <i class="fa fa-caret-down"></i> Final Exercise of Fashion Forward</h4></a>

    <ul>
        <a href="{%url 'blog_pg59'%}"><li class="chapter-pointer-59">Page One</li></a>
        <a href="{%url 'blog_pg60'%}"><li class="chapter-pointer-60">Page Two</li></a>
    </ul>

</div>