<div class="sub-left-container">
    <h3 style="margin-top: -20px;">Fashion Blog</h3>
    <ul>
        <a href="{%url 'blog_pg1'%}"><li class="chapter-pointer-1">Overview</li></a>
        <a href="{%url 'blog_pg2'%}"><li class="chapter-pointer-2">Coding Plan</li></a>
        <a href="{%url 'blog_pg3'%}"><li class="chapter-pointer-3">The Header: One</li></a>
        <a href="{%url 'blog_pg4'%}"><li class="chapter-pointer-4">The Header: Two</li></a>
        <a href="{%url 'blog_pg5'%}"><li class="chapter-pointer-5">The Header: Three</li></a>
        <a href="{%url 'blog_pg6'%}"><li class="chapter-pointer-6">The Header: Four</li></a>
        <a href="{%url 'blog_pg7'%}"><li class="chapter-pointer-7">The Header: Five</li></a>
        <a href="{%url 'blog_pg8'%}"><li class="chapter-pointer-8">The Header: Six</li></a>
        <a href="{%url 'blog_pg9'%}"><li class="chapter-pointer-9">The Header: Seven</li></a>
        <a href="{%url 'blog_pg10'%}"><li class="chapter-pointer-10">The Header: Eight</li></a>
    </ul>
    <a href="{%url 'blog_pg11'%}"><h4 style="margin-left: -20px; margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> Main </h4></a>
    <a href="{%url 'blog_pg24'%}"><h4 style="margin-left: -20px; margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> The Footer </h4></a>
    <a href="{%url 'blog_pg26'%}"><h4 style="margin-left: -20px; margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> Exercise Two </h4></a>
</div>