<div class="sub-left-container">
    <h3 style="margin-top: -20px;">Fashion Blog</h3>
    <a href="{%url 'blog_pg1'%}"><h4 style="margin-left: -20px; margin-bottom: 10px;"> <i class="fa fa-caret-right"></i>The Header </h4></a>
    <a href="{%url 'blog_pg11'%}"><h4 style="margin-left: -20px; margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> Main </h4></a>
    <a href="#"><h4 style="margin-left: -20px;  margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> The Footer</h4></a>
    <a href="{%url 'blog_pg26'%}"><h4 style="margin-left: -20px;  margin-bottom: 10px;"> <i class="fa fa-caret-right"></i> Exercise Two</h4></a>
    <a href="{%url 'blog_pg27'%}"><h4 style="margin-left: -20px;"> <i class="fa fa-caret-down"></i> Trends Page</h4></a>

    <ul>
        <a href="{%url 'blog_pg27'%}"><li class="chapter-pointer-27">Overview</li></a>
        <a href="{%url 'blog_pg28'%}"><li class="chapter-pointer-28">Formatting The Children</li></a>
        <a href="{%url 'blog_pg29'%}"><li class="chapter-pointer-29">Adding The Child Elements</li></a>
        <a href="{%url 'blog_pg30'%}"><li class="chapter-pointer-30">Styling The Child Elements</li></a>
        <a href="{%url 'blog_pg31'%}"><li class="chapter-pointer-31">Styling The Child Container</li></a>
        <a href="{%url 'blog_pg32'%}"><li class="chapter-pointer-32">Task</li></a>
        <a href="{%url 'blog_pg33'%}"><li class="chapter-pointer-33">Seasonal Trends Section</li></a>
        <a href="{%url 'blog_pg34'%}"><li class="chapter-pointer-34">Flex Children</li></a>
        <a href="{%url 'blog_pg35'%}"><li class="chapter-pointer-35">Scrollbar</li></a>
        <a href="{%url 'blog_pg36'%}"><li class="chapter-pointer-36">Children Contents</li></a>
        <a href="{%url 'blog_pg37'%}"><li class="chapter-pointer-37">Styling the Slider items</li></a>
        <a href="{%url 'blog_pg38'%}"><li class="chapter-pointer-38">Task</li></a>
        <a href="{%url 'blog_pg39'%}" style="font-weight: bold;"><li class="chapter-pointer-39">Exercise Three</li></a>
    </ul>
    <a href="{%url 'blog_pg40'%}"><h4 style="margin-left: -20px;"> <i class="fa fa-caret-right"></i> Beauty Page</h4></a>

</div>